@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --dark-cyan: #0e8784;
  --light-cyan: #66d2cf;
  --dark-grey-blue: #333d4b;
  --pale-orange: #fdd6ba;
  --light-cream: #fefcf7; /* BG */
  --grey: #83888f;
  --light-grey: #e2dedb;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* Typography */
h1 {
  font-family: "Fraunces", serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
  color: var(--light-cream);
}

h2 {
  font-family: "Fraunces", serif;
  font-size: 28px;
  line-height: 28px;
  font-weight: 900;
  /* color: var(--light-cream); */
  color: var(--dark-grey-blue);
}

h2.number {
  font-family: "Fraunces", serif;
  font-size: 72px;
  line-height: 72px;
  font-weight: 900;
  color: var(--pale-orange);
}

h3 {
  font-family: "Fraunces", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  color: var(--dark-grey-blue);
}

h3.larger {
  font-family: "Fraunces", serif;
  font-size: 28px;
  line-height: 32px;
  font-weight: 900;
  color: var(--dark-grey-blue);
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: var(--light-cream);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 48px;
  }

  h2 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 72px;
    line-height: 72px;
  }

  p {
    font-size: 16px;
    line-height: 26px;
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
  }

  h3.larger {
    font-size: 32px;
    line-height: 36px;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  font-family: "Fraunces", serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 900;
  height: 56px;
  width: 217px;
  border: none;
  border-radius: 6px;
  background-color: var(--dark-cyan);
  color: var(--light-cream);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: var(--light-cyan);
}
.btn:hover:disabled {
  background-color: var(--light-cyan);
  cursor: not-allowed;
}
.btn:disabled {
  background-color: var(--light-grey);
  pointer-events: none;
}

/* Error page */
.error-page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

/* Header */
header {
  padding: 2rem 1.5rem 0rem;
}

header img {
  height: 18px;
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav button {
  height: 18px;
  border: none;
}

header nav button img {
  height: 18px;
}

/* Hero */

.hero-wrapper {
  width: 100%;
  padding: 2.5rem 1.5rem;
}

.hero-container {
  position: relative;
  height: 500px;
  width: 100%;
  background: url("/home/mobile/image-hero-coffeepress.jpg") no-repeat
    center/cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-container.about {
  background: url("/about/mobile/image-hero-whitecup.jpg") no-repeat
    center/cover;
  height: 400px;
}

.hero-content {
  /* margin: 6.25rem 1.5rem; */
  height: 300px;
  width: 280px;
  text-align: center;
}

.hero-content.about {
  height: 202px;
  width: 280px;
  text-align: center;
}

.hero-content h1 {
  margin-bottom: 1.5rem;
}

.hero-content h1.about {
  font-size: 1.75rem;
}

.hero-content p {
  margin-bottom: 2.5rem;
}

.hero-content .btn {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  /* Header */
  header nav button {
    display: none;
  }

  .large-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .menu-item a {
    font-family: "Barlow", sans-serif;
    text-transform: uppercase;
    color: var(--grey);
    line-height: 12px;
    letter-spacing: 0.92px;
    cursor: pointer;
  }

  .menu-item a.active,
  .menu-item a:hover {
    color: var(--dark-grey-blue);
  }

  /* Hero */
  .hero-wrapper {
    padding: 3.375rem 2.5rem;
  }

  .hero-container {
    position: relative;
    height: 500px;
    width: 100%;
    background: url("/home/tablet/image-hero-coffeepress.jpg") no-repeat
      center/cover;
    align-items: start;
    padding: 6.5rem 3.625rem;
  }

  .hero-container.about {
    background: url("/about/tablet/image-hero-whitecup.jpg") no-repeat
      center/cover;
  }

  .hero-content {
    /* margin: 6.25rem 1.5rem; */
    height: 292px;
    width: 398px;
    text-align: start;
  }

  .hero-content.about {
    height: 164px;
    width: 398px;
    text-align: start;
  }

  .hero-content h1 {
    margin-right: 4.375rem;
  }

  .hero-content h1.about {
    font-size: 2rem;
  }

  .hero-content .btn {
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  /* Hero */

  .hero-wrapper {
    width: 100%;
    padding: 2.75rem 5rem;
  }

  .hero-container {
    height: 600px;
    width: 100%;
    background: url("/home/desktop/image-hero-coffeepress.jpg") no-repeat
      center/cover;
  }

  .hero-container.about {
    background: url("/about/desktop/image-hero-whitecup.jpg") no-repeat
      center/cover;
  }

  .hero-content {
    /* margin: 6.25rem 1.5rem; */
    height: 368px;
    width: 493px;
  }

  .hero-content.about {
    height: 176px;
    width: 445px;
  }

  .hero-content h1 {
    margin: 0;
    margin-bottom: 2rem;
  }

  .hero-content h1.about {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .hero-content p {
    margin-bottom: 3.5rem;
  }
}
