@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --dark-cyan: #0e8784;
  --light-cyan: #66d2cf;
  --dark-grey-blue: #333d4b;
  --footer-blue: #2c343e;
  --pale-orange: #fdd6ba;
  --light-cream: #fefcf7; /* BG */
  --grey: #83888f;
  --light-grey: #e2dedb;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* Typography */
h1 {
  font-family: "Fraunces", serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
  color: var(--light-cream);
}

h2 {
  font-family: "Fraunces", serif;
  font-size: 28px;
  line-height: 28px;
  font-weight: 900;
  /* color: var(--light-cream); */
  color: var(--dark-grey-blue);
}

h2.number {
  font-family: "Fraunces", serif;
  font-size: 72px;
  line-height: 72px;
  font-weight: 900;
  color: var(--pale-orange);
}

h2.collection-header {
  font-family: "Fraunces", serif;
  font-size: 40px;
  line-height: 72px;
  text-align: center;
  background: linear-gradient(
    var(--dark-grey-blue) -130%,
    var(--light-cream) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.collection-card-title {
  font-family: "Fraunces", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
}

h3 {
  font-family: "Fraunces", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  color: var(--dark-grey-blue);
}

h3.larger {
  font-family: "Fraunces", serif;
  font-size: 28px;
  line-height: 32px;
  font-weight: 900;
  color: var(--dark-grey-blue);
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: var(--light-cream);
}
.collection p {
  color: var(--dark-grey-blue);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 48px;
  }

  h2 {
    font-size: 32px;
    line-height: 48px;
  }

  h2.collection-header {
    font-size: 96px;
    line-height: 72px;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 72px;
    line-height: 72px;
  }

  p {
    font-size: 16px;
    line-height: 26px;
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
  }

  h2.collection-header {
    font-size: 150px;
  }

  h3.larger {
    font-size: 32px;
    line-height: 36px;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  font-family: "Fraunces", serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 900;
  height: 56px;
  width: 217px;
  border: none;
  border-radius: 6px;
  background-color: var(--dark-cyan);
  color: var(--light-cream);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: var(--light-cyan);
}
.btn:hover:disabled {
  background-color: var(--light-cyan);
  cursor: not-allowed;
}
.btn:disabled {
  background-color: var(--light-grey);
  pointer-events: none;
}

/* Error page */
.error-page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

/* Header */
header {
  padding: 2rem 1.5rem 0rem;
}

header img {
  height: 18px;
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav button {
  height: 18px;
  border: none;
}

header nav button img {
  height: 18px;
}

/* Hero */

.hero-wrapper {
  width: 100%;
  padding: 2.5rem 1.5rem;
}

.hero-container {
  position: relative;
  height: 500px;
  width: 100%;
  background: url("/home/mobile/image-hero-coffeepress.jpg") no-repeat
    center/cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-container.about {
  background: url("/about/mobile/image-hero-whitecup.jpg") no-repeat
    center/cover;
  height: 400px;
}

.hero-container.subscribe {
  background: url("/plan/mobile/image-hero-blackcup.jpg") no-repeat center/cover;
  height: 400px;
}

.hero-content {
  /* margin: 6.25rem 1.5rem; */
  height: 300px;
  width: 280px;
  text-align: center;
}

.hero-content.about {
  height: 202px;
  width: 280px;
  text-align: center;
}

.hero-content.subscribe {
  height: 202px;
  width: 280px;
  text-align: center;
}

.hero-content h1 {
  margin-bottom: 1.5rem;
}

.hero-content h1.about {
  font-size: 1.75rem;
}

.hero-content p {
  margin-bottom: 2.5rem;
}

.hero-content .btn {
  margin: 0 auto;
}

/* Footer */
footer {
  margin: 4.5rem 1.5rem;
  background-color: var(--footer-blue);
  padding: 3.375rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.footer-nav,
.footer-nav-socials {
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
}

.footer-nav {
  flex-direction: column;
  align-items: center;
}

.footer-menu-item a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
  color: var(--grey);
  transition: all 0.5s ease-in-out;
}

.footer-menu-item a:hover,
.footer-menu-item a.active {
  color: var(--light-cream);
}

/* Home - Collection */

.collection {
  display: flex;
  flex-direction: column;
  position: relative;
}

.collection-container {
  margin: 4rem 2.875rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.collection-container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.collection-container article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.collection .collection-header {
  position: absolute;
  width: 100%;
}

.collection img {
  height: 151px;
  width: 200px;
}

/* Home - Promo */

.promo {
  position: relative;
  margin: 1.5rem;
  /* background-color: red; */
}
.promo-background {
  position: absolute;
  background-color: #293039;
  width: 100%;
  height: 902px;
  z-index: -1;
  border-radius: 10px;
}

.promo-text {
  margin: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  background-color: #2c343e;
}

.promo-text h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  color: var(--light-cream);
}

.promo-text p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: var(--light-cream);
}

.promo-cards {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  gap: 1.5rem;
}

.promo-card {
  height: 382px;
  background-color: var(--dark-cyan);
  border-radius: 8px;
}

.promo-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-card-content img {
  height: 72px;
  width: 72px;
  margin-top: 4.5rem;
  margin-bottom: 3.5rem;
}

.promo-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.promo-card-text h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: var(--light-cream);
}

/* Home- process */
.process-container {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-decals {
  display: none;
}

.process-title {
  font-family: "Fraunces", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  margin-bottom: 5rem;
  color: var(--grey);
}

.process-cards {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.process-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.process-card-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.process-card-text p {
  color: var(--dark-grey-blue);
}

.process-btn {
  margin-top: 5rem;
}

/* About - Commitment */
.commitment {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.5rem;
  align-items: center;
}

.commitment-image {
  width: 98%;
}

.commitment-image img {
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

.commitment-text {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  text-align: center;
}

.commitment-text h2 {
  font-family: "Fraunces", serif;
  font-size: 32px;
  line-height: 48px;
  font-weight: 900;
}
.commitment-text p {
  color: var(--dark-grey-blue);
  line-height: 25px;
}

/* About - Quality */
.quality {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 4.875rem;
  margin-top: 7.5rem;
}

.quality-image {
  position: absolute;
  height: 156px;
  width: calc(100% - 6rem);
  left: 3rem;
  right: auto;
  top: 0;
  border-radius: 8px;
  object-fit: cover;
}

.quality-text-container {
  background-color: var(--footer-blue);
  padding: 8.875rem 1.5rem 3.875rem;
  border-radius: 10px;
}

.quality-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.quality-text h3 {
  color: var(--light-cream);
  font-size: 28px;
  line-height: 28px;
}

/* About - Locations */
.location {
  margin: 7rem 1.5rem;
}

.location h3 {
  color: var(--grey);
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  /* border: 1px solid red; */
}

.locations-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.location-item {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.location-item > div {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  align-items: center;
}

.location-item img {
  height: 51px;
  width: 51px;
}

.location-item h2 {
  font-size: 28px;
  line-height: 36px;
}

.location-item .location-details {
  color: var(--dark-grey-blue);
}

@media screen and (min-width: 768px) {
  /* Header */
  header nav button {
    display: none;
  }

  .large-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .menu-item a {
    font-family: "Barlow", sans-serif;
    text-transform: uppercase;
    color: var(--grey);
    line-height: 12px;
    letter-spacing: 0.92px;
    cursor: pointer;
  }

  .menu-item a.active,
  .menu-item a:hover {
    color: var(--dark-grey-blue);
  }

  /* Hero */
  .hero-wrapper {
    padding: 3.375rem 2.5rem;
  }

  .hero-container {
    position: relative;
    height: 500px;
    width: 100%;
    background: url("/home/tablet/image-hero-coffeepress.jpg") no-repeat
      center/cover;
    align-items: start;
    padding: 6.5rem 3.625rem;
  }

  .hero-container.about {
    background: url("/about/tablet/image-hero-whitecup.jpg") no-repeat
      center/cover;
  }
  .hero-container.subscribe {
    background: url("/plan/tablet/image-hero-blackcup.jpg") no-repeat
      center/cover;
  }

  .hero-content {
    /* margin: 6.25rem 1.5rem; */
    height: 292px;
    width: 398px;
    text-align: start;
  }

  .hero-content.about {
    height: 164px;
    width: 398px;
    text-align: start;
  }

  .hero-content.subscribe {
    height: 147px;
    width: 398px;
    text-align: start;
  }

  .hero-content h1 {
    margin-right: 4.375rem;
  }

  .hero-content h1.about {
    font-size: 2rem;
  }

  .hero-content .btn {
    margin: 0;
  }

  /* Home - Collection */
  .collection-container {
    /* background-color: red; */
    margin: 4rem 6.125rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 10;
  }

  .collection-container article {
    display: flex;
    flex-direction: row;
  }

  .collection-container article div {
    align-items: start;
    text-align: start;
  }

  /* Footer */
  footer {
    margin: 4.5rem 1.5rem;
    height: 270px;
    width: 100%;
  }

  .footer-content {
    gap: 2rem;
  }

  .footer-nav {
    flex-direction: row;
    margin-bottom: 2rem;
  }

  /* Home - Promo */
  .promo {
    margin: 2.5rem;
  }

  .promo-card {
    height: 180px;
  }

  .promo-background {
    height: 573px;
  }

  .promo-card-content {
    margin: 2.625rem 3rem;
    flex-direction: row;
    gap: 3.5rem;
  }

  .promo-card-content img {
    margin: 0;
  }

  .promo-text {
    background-color: #293039;
    margin: 3.5rem 4.625rem 4.375rem;
  }

  .promo-text h2 {
    font-size: 32px;
    line-height: 48px;
  }

  /* Home- process */
  .process-container {
    margin: 1.5rem 2.5rem;
    align-items: start;
    position: relative;
  }

  .process-title {
    margin-bottom: 2.5rem;
  }

  .process-decals {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 0 auto 40px;
  }

  .process-circle {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 2px solid var(--dark-cyan);
    background: white;
    flex-shrink: 0;
    z-index: 10;
  }

  .process-circle:nth-of-type(0) {
    position: absolute;
    left: 0;
  }

  .process-circle:nth-of-type(1) {
    position: absolute;
    left: 38%;
  }

  .process-circle:nth-of-type(2) {
    position: absolute;
    left: 72%;
  }

  .process-decals::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    right: 27%;
    height: 2px;
    background: var(--pale-orange);
    transform: translateY(-50%);
    z-index: 1;
  }

  .process-cards {
    flex-direction: row;
    gap: 1.75rem;
  }

  .process-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 1.5rem;
  }

  .process-card-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .process-btn {
    margin-top: 2.75rem;
  }

  /* About - Commitment */
  .commitment {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    padding: 2.5rem;
  }

  .commitment-image {
    width: 100%;
    height: 470px;
  }

  .commitment-image img {
    height: 100%;
  }

  .commitment-text {
    text-align: start;
  }

  /* About - Quality */
  .quality {
    padding: 2.5rem;
    padding-top: 10rem;
    margin-top: 9.625rem;
  }

  .quality-image {
    height: 320px;
    width: calc(100% - 12.25rem);
    left: 6.125rem;
    right: auto;
  }

  .quality-text-container {
    padding: 14rem 4.625rem 4.25rem;
  }

  .quality-text h3 {
    font-size: 32px;
    line-height: 48px;
  }

  /* About - Locations */
  .location {
    margin: 9rem 2.5rem;
  }

  .location h3 {
    text-align: start;
  }

  .locations-container {
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
    justify-content: space-between;
  }

  .location-item {
    align-items: start;
  }

  .location-item > div {
    align-items: start;
  }

  .location-item h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

@media screen and (min-width: 1440px) {
  /* Hero */

  .hero-wrapper {
    width: 100%;
    padding: 2.75rem 5rem;
  }

  .hero-container {
    height: 600px;
    width: 100%;
    background: url("/home/desktop/image-hero-coffeepress.jpg") no-repeat
      center/cover;
  }

  .hero-container.about {
    background: url("/about/desktop/image-hero-whitecup.jpg") no-repeat
      center/cover;
  }

  .hero-container.subscribe {
    background: url("/plan/desktop/image-hero-blackcup.jpg") no-repeat
      center/cover;
  }

  .hero-content {
    /* margin: 6.25rem 1.5rem; */
    height: 368px;
    width: 493px;
  }

  .hero-content.about {
    height: 176px;
    width: 445px;
  }

  .hero-content.subscribe {
    height: 182px;
    width: 466px;
  }

  .hero-content h1 {
    margin: 0;
    margin-bottom: 2rem;
  }

  .hero-content h1.about {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .hero-content p {
    margin-bottom: 3.5rem;
  }

  /* Home - Collection */
  .collection-container {
    /* background-color: red; */
    margin: 4rem 10.25rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .collection-container article {
    flex-direction: column;

    gap: 4.5rem;
  }

  .collection-container article div {
    align-items: center;
    text-align: center;
  }

  /* Footer */
  footer {
    margin: 5.5rem 1.5rem;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .footer-nav {
    margin-bottom: 0rem;
  }

  /* Home - Promo */
  .promo {
    margin: 2.5rem 5rem;
  }

  .promo-text {
    margin: 6.25rem 23.125rem;
  }

  .promo-text h2 {
    font-size: 40px;
  }

  .promo-text p {
    font-size: 16px;
  }

  .promo-cards {
    flex-direction: row;
    margin: 0rem 5.25rem;
    gap: 1.875rem;
  }

  .promo-card {
    height: 382px;
  }

  .promo-card-content {
    margin: 2.625rem 3rem;
    flex-direction: column;
    gap: 3.5rem;
  }

  /* Home- process */
  .process-container {
    margin: 12.5rem 10.3125rem;
  }

  .process-cards {
    gap: 5.875rem;
  }

  .process-circle:nth-of-type(2) {
    left: 75%;
  }

  .process-decals::before {
    right: 24%;
  }

  .process-btn {
    margin-top: 4rem;
  }

  /* About - Commitment */
  .commitment {
    padding: 10.3125rem;
    gap: 7.8125rem;
  }

  .commitment-text h2 {
    font-size: 40px;
  }

  /* About - Quality */

  .quality {
    padding: 5.5rem;
    padding-top: 5.5rem;
    margin-top: 10.5rem;
  }

  .quality-image {
    height: 474px;
    right: 10.3125rem;
    left: auto;
    width: 445px;
  }

  .quality-text-container {
    padding: 5.5rem 5.3125rem;
    height: 474px;
  }

  .quality-text {
    width: 50%;
    gap: 2rem;
    align-items: start;
    text-align: start;
  }

  .quality-text h3 {
    font-size: 40px;
    line-height: 48px;
  }

  .quality-text p {
    font-size: 16px;
  }

  /* About - Locations */
  .location {
    margin: 10.5rem 10.3125rem;
  }

  .location-item h2 {
    font-size: 32px;
  }

  .location-item .location-details {
    font-size: 16px;
  }
}
